<h1>Offers</h1>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Payout</th>
      <th>Status</th>
      <th>Age Range</th>
      <th>Target Gender</th>
      <th>Claim</th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.title %></td>
        <td><%= offer.description %></td>
        <td><%= number_to_currency(offer.payout) %></td>
        <td><%= offer.status.join(', ') %></td>
 <!-- This should work if status is an array -->
        <td><%= offer.age_range.join(', ') %></td>
        <td><%= offer.gender.name if offer.gender %></td>
        <td>
          <% if offer.player.present? %>
            <% if offer.player == current_player %>
              Claimed by ME
            <% else %>
              Claimed by <%= offer.player.username %>
            <% end %>
          <% else %>
            <%= link_to 'Claim Offer', offer_path(offer), class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
