<h1>Offers</h1>
<table class="table" >
  <thead>
    <tr>
      <th data-field="title" data-sortable="true">Title</th>
      <th data-field="description" data-sortable="true">Description</th>
      <th data-field="payout" data-sortable="true"  data-sorter="moneySorter">Payout</th>
      <th data-field="status" data-sortable="true">Status</th>
      <th data-field="ageRange" data-sortable="true">Age Range</th>
      <th data-field="gender" data-sortable="true">Target Gender</th>
      <th>Claim</th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.title %></td>
        <td><%= offer.description %></td>
        <td><%= number_to_currency(offer.payout) %></td>
        <td><%= offer.status.join(', ') %></td>
        <td><%= offer.age_range.join(', ') %></td>
        <td><%= offer.gender.name if offer.gender %></td>
        <td>
          <% if offer.player.present? %>
            <% if offer.player == current_player %>
              Claimed by ME
              <%= button_to 'Drop', drop_offer_path(offer), method: :patch, remote: true, class: 'drop-button' %>
            <% else %>
              Claimed by <%= offer.player.username %>
            <% end %>
          <% else %>
            <%= button_to 'Claim', claim_offer_path(offer), method: :patch, remote: true, class: 'claim-button' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script></script>
